[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
web3 = "*"
requests = "*"

[dev-packages]
pytest = "*"
build = "*"
twine = "*"
mypy = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
